@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model TitleCreateViewModel

<partial name="_TitleTitle" />

<h3 style="margin: 0 0 50px">@SharedLocalizer["HeaderAddNewItem"]</h3>

@if (ViewBag.ErrorMessage != string.Empty)
{
    <h3 class="alert-danger">@ViewBag.ErrorMessage</h3>
}

<div style="width: 50%">
    <form asp-controller="Title" asp-action="Create">

        <div class="form-group">
            <label asp-for="@Model.Name">@SharedLocalizer["TableHeaderTitleName"]</label>
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Alias">@SharedLocalizer["TableHeaderAlias"]</label>
            <input asp-for="@Model.Alias" class="form-control" />
            <span asp-validation-for="@Model.Alias" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Anons">@SharedLocalizer["TableHeaderAnons"]</label>
            <textarea asp-for="@Model.Anons" class="form-control" rows="5"></textarea>
            <span asp-validation-for="@Model.Anons" class="text-danger"></span>
        </div>

        <div style="margin: 50px 0">
            <button type="submit" class="btn btn-primary">@SharedLocalizer["ButtonSave"]</button>
            <a asp-controller="Title" asp-action="Index" class="btn btn-secondary">@SharedLocalizer["ButtonBackToList"]</a>
        </div>

    </form>
</div>