@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model IEnumerable<Title>

<partial name="_TitleTitle"/>

<div>
    <a class="btn btn-success" asp-action="Create" style="margin-bottom: 50px">@SharedLocalizer["ButtonAdd"]</a>
</div>

<div style="height: 500px; width: auto; margin-right: 250px; overflow: auto;">

    <table class="table">
        <thead class="thead-light text-left">
        <tr>
            <th>@SharedLocalizer["TableHeaderTitleName"]</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var title in Model)
        {
            <tr>
                <td>@title.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@title.Id">@SharedLocalizer["ButtonEdit"]</a> |
                    <a asp-action="Delete" asp-route-id="@title.Id">@SharedLocalizer["ButtonDelete"]</a>
                </td>

            </tr>
        }
        </tbody>

    </table>

</div>