@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model ISimpleItem

<partial name="_CreateItem" />

@if (ViewBag.ErrorMessage != string.Empty)
{
    <partial name="_ErrorMessage" />
}
else
{
    <div>
        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="@Model.Name">@SharedLocalizer[@ViewData["TabHeader"].ToString()]</label>
                <input asp-for="@Model.Name" class="form-control" />
                <div class="validation-message">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>

                @*<input type="hidden" asp-for="@Model.Id" />*@
            </div>

            <div style="margin: 50px 0">
                <button type="submit" class="btn btn-outline-secondary">@SharedLocalizer["ButtonSave"]</button>
                <a asp-action="Index" class="btn btn-outline-secondary">@SharedLocalizer["ButtonBackToList"]</a>
            </div>
        </form>
    </div>
}