@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model ChangePasswordViewModel

<partial name="_AdminTitle" />

<partial name="_UserManagementTitle" />

<partial name="_EditItem" />

<h2 class="font-weight-light mt-5">@Model.UserName</h2>
<h4 class="font-weight-light mb-5">@Model.Email</h4>



<div>

    <form asp-area="Admin" asp-controller="Home" asp-action="ChangePassword">

        <div class="form-group">
            <label asp-for="@Model.Password">@SharedLocalizer["TableHeaderNewPassword"]</label>
            <input asp-for="@Model.Password" class="form-control" />
            <div class="validation-message">
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.PasswordToConfirm">@SharedLocalizer["TableHeaderPasswordConfirm"]</label>
            <input asp-for="@Model.PasswordToConfirm" class="form-control" />
        <div class="validation-message">
            <span asp-validation-for="@Model.PasswordToConfirm" class="text-danger"></span>
            </div>
        </div>

        <div style="margin: 50px 0">
            <button type="submit" class="btn btn-outline-secondary">@SharedLocalizer["ButtonSave"]</button>
            <a asp-area="Admin" asp-controller="Home" asp-action="UserManagement" class="btn btn-outline-secondary">@SharedLocalizer["ButtonBackToList"]</a>
        </div>

        <input type="hidden" asp-for="UserName" />
        <input type="hidden" asp-for="Email" />

    </form>

</div>