@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model IdentityUser

<partial name="_AdminTitle" />

<partial name="_UserManagementTitle" />


<div>
    @if (ViewBag.SingleAdmin == false)
    {
        <partial name="_DeleteItem" />
    }
    else
    {
        <div class="alert alert-danger">
            <h4 style="margin: 20px 0">@ViewBag.ErrorMessage</h4>
        </div>
    }
    <div class="alert alert-dark">
        <h4>@Model.UserName</h4>
        <h6>@Model.Email</h6>
    </div>

    <form asp-area="Admin" asp-controller="Home" asp-action="DeleteUser" style="margin: 20px 0">
        <input type="hidden" asp-for="Id" />

        @if (ViewBag.SingleAdmin == false)
        {
            <button type="submit" class="btn btn-outline-danger"><i class="fa fa-times"></i>&nbsp; @SharedLocalizer["ButtonDelete"]</button>
        }

        <a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Home" asp-action="UserManagement">@SharedLocalizer["ButtonBackToList"]</a>
    </form>
</div>