@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model EditUserViewModel


<div class="form-group">
    <label asp-for="@Model.UserName">@SharedLocalizer["TableHeaderName"]</label>
    <input asp-for="@Model.UserName" class="form-control" value="@Model.UserName" />
    <div class="validation-message">
        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label asp-for="@Model.Email">@SharedLocalizer["TableHeaderEmail"]</label>
    <input asp-for="@Model.Email" class="form-control" />
    <div class="validation-message">
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
</div>

<hr />

@if (ViewBag.SingleAdmin != true)
{

    <div class="form-group">
        <label asp-for="@Model.Roles">@SharedLocalizer["TableHeaderRole"]</label>
        <select asp-for="SelectedRole" class="form-control">
            @foreach (var role in @Model.Roles)
            {
                if (@role.Name == @Model.CurrentRole)
                {
                    <option class="form-control" selected>@role.Name</option>
                }
                else
                {
                    <option class="form-control">@role.Name</option>
                }
            }
        </select>
    </div>
}

<div style="margin: 50px 0">
    <button type="submit" class="btn btn-outline-secondary">@SharedLocalizer["ButtonSave"]</button>
    <a asp-area="Admin" asp-controller="Home" asp-action="UserManagement" class="btn btn-outline-secondary">@SharedLocalizer["ButtonBackToList"]</a>
</div>

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="CurrentRole" />