@page

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@inject IViewLocalizer Localizer


<div class="container">
    <div>
        <h4 class="font-weight-light">@Localizer["Categories"]</h4>
    </div>
    <a asp-area="" asp-controller="Title" asp-action="Index" class="btn btn-outline-light btn-block">@Localizer["Programs"]</a>
    <a asp-area="" asp-controller="Presenter" asp-action="Index" class="btn btn-outline-light btn-block">@Localizer["Presenters"]</a>
    <a asp-area="" asp-controller="Director" asp-action="Index" class="btn btn-outline-light btn-block">@Localizer["Directors"]</a>
    <a asp-area="" asp-controller="Country" asp-action="Index" class="btn btn-outline-light btn-block">@Localizer["Countries"]</a>
    <a asp-area="" asp-controller="Language" asp-action="Index" class="btn btn-outline-light btn-block">@Localizer["Languages"]</a>
    <a asp-area="" asp-controller="Composer" asp-action="Index" class="btn btn-outline-light btn-block">@Localizer["Composers"]</a>
    <a asp-area="" asp-controller="Vendor" asp-action="Index" class="btn btn-outline-light btn-block">@Localizer["Vendors"]</a>
</div>