@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model PresenterAlias

<partial name="_PresenterTitle"/>

<h3>@ViewBag.PresenterName</h3>
<h4>@SharedLocalizer["HeaderEditAliasesList"]</h4>

<partial name="_DeleteItem" />

<div style="width: 50%">

    <div class="alert alert-info">
        <h4>@Model.Alias</h4>
    </div>

    <form asp-action="AliasDelete" style="margin: 20px 0">
        <input type="hidden" asp-for="Id"/>
        <button type="submit" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp; @SharedLocalizer["ButtonDelete"]</button>
        <a class="btn btn-secondary" asp-action="Aliases" asp-route-id="@Model.PresenterId">@SharedLocalizer["ButtonToAliases"]</a>
    </form>
</div>