@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model PresenterAlias

<partial name="_PresenterTitle" />

<h2 class="font-weight-light">@ViewBag.ParentName</h2>
<h4>@SharedLocalizer["HeaderEditAliasesList"]</h4>

@if (ViewBag.ErrorMessage != string.Empty)
{
    <h3 class="alert-danger">@ViewBag.ErrorMessage</h3>
    <a asp-controller="Presenter" asp-action="index" class="btn btn-secondary">@SharedLocalizer["ButtonBackToPresenters"]</a>
}
else
{
    <partial name="_EditItem" />

    <div>
        <form asp-controller="Presenter" asp-action="AliasEdit">

            <div class="form-group">
                <label asp-for="@Model.Alias">@SharedLocalizer["TableHeaderAlias"]</label>
                <input asp-for="@Model.Alias" class="form-control" />
                <div class="validation-message">
                    <span asp-validation-for="@Model.Alias" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.ParentId" />

            </div>

            <div style="margin: 50px 0">
                <button type="submit" class="btn btn-outline-secondary">@SharedLocalizer["ButtonSave"]</button>
                <a asp-controller="Presenter" asp-action="Aliases" asp-route-id="@Model.ParentId" class="btn btn-outline-secondary">@SharedLocalizer["ButtonToAliases"]</a>
            </div>

        </form>
    </div>
}