@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model PresenterCreateViewModel

<partial name="_PresenterTitle" />

<h3 style="margin: 0 0 50px">@SharedLocalizer["HeaderAddNewItem"]</h3>

@if (ViewBag.ErrorMessage != string.Empty)
{
    <h3 class="alert-danger">@ViewBag.ErrorMessage</h3>
}

<div>
    <form asp-controller="Presenter" asp-action="Create">

        <div class="form-group">
            <label asp-for="@Model.ComplexItem.Name">@SharedLocalizer["TableHeaderFullName"]</label>
            <input asp-for="@Model.ComplexItem.Name" class="form-control" />
            <div class="validation-message">
                <span asp-validation-for="@Model.ComplexItem.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ComplexItemAlias.Alias">@SharedLocalizer["TableHeaderAlias"]</label>
            <input asp-for="@Model.ComplexItemAlias.Alias" class="form-control" />
            <div class="validation-message">
                <span asp-validation-for="@Model.ComplexItemAlias.Alias" class="text-danger"></span>
            </div>
        </div>

        <div style="margin: 50px 0">
            <button type="submit" class="btn btn-outline-secondary">@SharedLocalizer["ButtonSave"]</button>
            <a asp-controller="Presenter" asp-action="Index" class="btn btn-outline-secondary">@SharedLocalizer["ButtonBackToList"]</a>
        </div>

    </form>
</div>