@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model IEnumerable<Presenter>

<partial name="_PresenterTitle" />

<div>
    <a class="btn btn-outline-secondary" asp-action="Create" style="margin-bottom: 50px">@SharedLocalizer["ButtonAdd"]</a>
</div>

<div class="content-table">

    <table class="table">
        <thead class="thead-dark text-left">
            <tr>
                <th>@SharedLocalizer["TableHeaderFullName"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var presenter in Model)
            {
                <tr>
                    <td>@presenter.Name</td>
                    <td class="d-flex justify-content-end">
                        <a asp-action="Edit" asp-route-id="@presenter.Id" class="btn btn-outline-secondary btn-sm mr-1">@SharedLocalizer["ButtonEdit"]</a>
                        <a asp-action="Delete" asp-route-id="@presenter.Id" class="btn btn-outline-secondary btn-sm">@SharedLocalizer["ButtonDelete"]</a>
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>