@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model IEnumerable<Director>

<partial name="_DirectorTitle" />

<div class="d-inline-flex">
    <div>
        <a class="btn btn-outline-secondary" asp-action="Create" style="margin-bottom: 50px">@SharedLocalizer["ButtonAdd"]</a>
    </div>

    <div>
        <a asp-area="" asp-controller="DirectorSchedule" asp-action="Index" class="btn btn-outline-secondary">Перейти к расписанию звукорежиссёров</a>
    </div>
</div>

<div class="content-table">

    <table class="table">
        <thead class="thead-dark text-left">
            <tr>
                <th>@SharedLocalizer["TableHeaderAlias"]</th>
                <th>@SharedLocalizer["TableHeaderFullName"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var director in Model)
            {
                <tr>
                    <td>@director.Alias</td>
                    <td>@director.Name</td>
                    <td class="d-flex justify-content-end">
                        <a asp-action="Edit" asp-route-id="@director.Id" class="btn btn-outline-secondary btn-sm mr-1">@SharedLocalizer["ButtonEdit"]</a>
                        <a asp-action="Delete" asp-route-id="@director.Id" class="btn btn-outline-secondary btn-sm">@SharedLocalizer["ButtonDelete"]</a>
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>